<!-- Index page for advance sql midterm demo -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adv Sql</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <div class="navbar_container">
            <a href="/" id="navbar_logo">
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="Music Explorer">
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="/" class="navbar_links">Home</a>
                    </li>
                    <li>
                        <a href="search" class="navbar_links">Search</a>
                    </li>
                    <li>
                        <a href="/advance" class="navbar_links">Advance</a>
                    </li>
                    <li>
                        <a class="navbar_links">|</a>
                    </li>
                    <li>
                        <a href="/sign_in" class="button">Sign in</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Advance sql options -->
    <div class="search_box">
        <ul>
            <li >
                <a href="advance/tongyun">Tongyun</a>
            </li>
            <li >
                <a href="advance/shirley">Shirley</a>
            </li>
            <li >
                <a href="advance/wenjie">Wenjie</a>
            </li>
            <li >
                <a href="advance/jinyang">Jinyang</a>
            </li>
        </ul>
    </div>
</body>
</html>