<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <div class="navbar_container">
            <a href="/" id="navbar_logo">
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="Music Explorer">
            </a>
            <nav>
                <ul>
                    <li>        
                        <a href="/" class="navbar_links">Home</a>
                    </li>
                    <li>
                        <a href="/search" class="navbar_links">Search</a>
                    </li>
                    <li>
                        <a href="/advance" class="navbar_links">Advance</a>
                    </li>
                    <li>
                        <a class="navbar_links">|</a>
                    </li>
                    <li>
                        <a href="/sign_in" class="button">Sign in</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

<!-- Search keyword box -->
    <form class="search" autocomplete="off" >
      <input type="text" placeholder="Search by Title.." onkeyup="search()" id="searchInput" name="input">
      <button type="submit" id="search_start" ><i class="fa fa-search"></i></button>
    </form>

<!-- choose table and action box -->
    <div class="search_box">
        <ul>
            <li class="search_title">Table</li>
            <li id="songTable" >
                <a href="/search/song">Song</a>
            </li>
            <li id="artistTable">
                <a href="/search/artist">Artist</a>
            </li>
            <li id="albumTable">
                <a href="/search/album">Album</a>
            </li>
            <li id="commentTable">
                <a href="/search/comment">Comment</a>
            </li>
            <li id="coverTable">
                <a href="/search/cover">Cover</a>
            </li>
            <li id="reset">
                <a href="/search">Reset Tables</a>
            </li>
            
        </ul>

        <ul>
            <li class="search_title">CRUD</li>
            <!-- <li onclick="insertCRUD()" id="insertCRUD">Insert</li> -->
            <li>
                <a href="/search/song/create">Song Insert</a>
            </li>
            <li>
                <a href="/search/album/create">Album Insert</a>
            </li>
            <li>
                <a href="/search/artist/create">Artist Insert</a>
            </li>
            <li>
                <a href="/search/comment/create">Comment Insert</a>
            </li>
            <li>
                <a href="/search/cover/create">Cover Insert</a>
            </li>
            <!-- <button id="exeCRUD" href="/search/song/create">Song Insert</button> -->
            <!-- <li onclick="updateCRUD()" id="updateCRUD">Update</li> -->
            <!-- <li id="deleteCRUD">Delete</li> -->
        </ul>

        
    </div>
    <!-- Insert -->
    <div id="insertModal">
        <div class="insertModalContent">
            <!-- <div onclick="closeModal(this.parentNode.parentNode.id)" id="close">+</div>
            <p id="infoCRUD"></p>
            <div id="modalInput">
                
            </div> -->
            
        </div>
    </div>

    <!-- Update -->
    <!-- <div id="updateModal">
        <div class="updateModalContent">
            <div onclick="closeModal(this.parentNode.parentNode.id)" id="close">+</div>
            <p id="infoCRUD"></p>

        </div>
    </div> -->



    <div class="note">
        <p>Note: Only top 15 rows are displayed. You can only choose one table at a time</p>
    </div>

    <!-- Main table -->
    <!-- Dynamic table with Jinja2: https://www.youtube.com/watch?v=mCy52I4exTU -->
    <table class="main_table"  >
        <!-- Table Header -->
        <thead style="background-color: lightblue" id="table_title">
            {% for head in header %}
                <th>{{head}}</th>
            {% endfor %}
            <th>update</th>
            <th>delete</th>
        </thead>
        <!-- Table Entry -->
        <tbody id="table_entry">
            {% for item in items %}
            <tr>
                {% for cell in item %}
                <td>{{cell}}</td>
                {% endfor %}
                <td><a href="{{table}}/update/{{item[0]}}" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" >edit</a></td>
                <td><a  href="{{table}}/delete/{{item[0]}}" class="btn btn-outline-secondary btn-sm remove" >Delete</a></td>
                <!-- <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{item[0]}}" type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td> -->
            </tr> 
            {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>    
    <!-- <script src="static/script/app.js"></script>-->
    <!-- <script src="static/script/model.js"></script>  -->
    <!-- <script>

        function passIn(dataVariable) {
            receive(dataVariable);
        }
        passIn({{dataTable | safe}});

        function displayTable(id) {
            updateTableOnClick(id);
        }

    </script> -->


</body>

</html>