<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Song Update</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <form class="search" autocomplete="off" action="/search/song/update/{{info[0].song_id}}" method="POST" >
        <input type="text" placeholder="Song name"  name="new_name" value="{{info[0].song_name}}">
        <input type="text" placeholder="Artist"  name="new_artist" value="{{info[0].artist_name}}">
        <input type="submit" value="update new" class="btn btn-secondary" ></input>
</form>
</body>
</html>